body {
    font-family: "Source Sans Pro", snas-serif;
    font-size: 1.5rem;
}

@media screen and (min-width: 850px){
    .container {
      display: grid;
      grid-template-columns: 1fr 2fr 1fr;
      grid-template-areas:
        "header header header"
        "form map drivers"
        "stats map drivers"
        "footer footer footer";
    }
}

.header {
    padding: 10px;
  border-style: solid;
  background-color: yellow;
  grid-area: header
}

.form {
padding: 10px;
  border-style: solid;
  background-color: yellow;
  grid-area: form;
}

.stats{
  border-style: solid;
  background-color: yellow;
  grid-area: stats;
}

.map {
  border-style: solid;
  background-color: yellow;
  grid-area: map;
  height: 500px;
}

.select-drivers{
  border-style: solid;
  background-color: yellow;
  grid-area: drivers;
}

.footer {
  border-style: solid;
  background-color: yellow;
  grid-area: footer;
   text-align: center;
}

