#map {
  height: 600px;
  width: 100%;
}

#distance-stats{
  width: 300px;
  margin: 20px;
}

#gate-stats{
  width: 300px;
  margin: 20px;
}

#short-long-dist{
  width: 300px;
  margin: 20px;
}

.header {
  border-style: solid;
  background-color: yellow;
  grid-column: 1 / 4;
  grid-row: 1 / 2;
  justify-self: stretch;
  align-self: stretch;
}

.map {
  border-style: solid;
  background-color: yellow;
  grid-column: 2 / 3;
  grid-row: 2 / 4;
  justify-self: stretch;
  align-self: stretch;
}

.select-drivers{
  border-style: solid;
  background-color: yellow;
  grid-column: 3 / 4;
  grid-row: 2 / 4;
  justify-self: stretch;
  align-self: stretch;
}

.form {
  border-style: solid;
  background-color: yellow;
  grid-column: 1 / 2;
  grid-row: 2 / 3;
  justify-self: stretch;
  align-self: stretch;
}

.stats {
  border-style: solid;
  background-color: yellow;
  grid-column: 1 / 2;
  grid-row: 3 / 4;
  justify-self: stretch;
  align-self: stretch;
}

.footer {
  border-style: solid;
  background-color: yellow;
  grid-column: 1 / 4;
  grid-row: 4 / 5;
  justify-self: stretch;
  align-self: stretch;
}

.container {
  display: grid;
  grid-template-columns: 2fr 7fr 2fr;
  grid-template-rows: 1fr 5fr 5fr 1fr;
}