<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Eshtirakat</title>
    </head>

    <body>
        <div>
            <input type="file" id="drivers" accept=".xls,.xlsx">
        </div>
        <div>
            <input type="file" id="students" accept=".xls,.xlsx">
        </div>
        <div>
            <input type="checkbox" id="consider-gates" name="dates" value="gates" checked="true">
            <label for="gates">Consider Gates ?</label>
        </div>
        <div>
            <button id="post">post</button>
        </div>
    </body>
    <script type="text/javascript" src="{{url_for('static', filename='js/script.js')}}"></script>
    <script type="text/javascript" src="{{url_for('static', filename='js/xlsx.full.min.js')}}"></script>

</html>