<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
        		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,400;0,700;1,400&display=swap" rel="stylesheet">
        <title>E&#x15F;tirak@</title>
    </head>

    <body>

        <div class="container">
            <div class="header">
              <h1>E&#x15F;tirak@y</h1>
              <ul class="nav">
                <li><a href="#">Home</a></li>
                <li><a href="#">About</a></li>
              </ul>
            </div>
            <div class="form" id="form">
                <div><input type="file" id="drivers" accept=".xls,.xlsx"></div>
                <div><input type="file" id="students" accept=".xls,.xlsx"></div>
                <div class="consider-gate">
                    <input type="checkbox" id="consider-gates" name="gates" value="gates" checked="true">
                    <label for="consider-gates">Consider Gates ?</label>
                </div>
                <div><button class="post" id="post">post</button></div>
            </div>
            <div class="save">
                <img class="save-button" src="{{url_for('static', filename='images/save.PNG')}}">
            </div>
            <div class="map" id="map"></div>
            <div class="stats" id="stats">
                <div id="distance-stats"></div>
                <div id="gate-stats"></div>
                <div id="short-long-dist"></div>
            </div>
            <div class="select-groups">
                <input class="all-drivers" type="checkbox" id="all-drivers" name="all-drivers" value="all-drivers" checked="true">
                <label for="all-drivers">Select All Drivers</label>
            </div>
            <div class="select-drivers"></div>
            <div class="footer"> &copy; 2021 Mnka Intelligent Services  </div>
        </div>

    </body>
    <script type="text/javascript" src="{{url_for('static', filename='js/script.js')}}"></script>
    <script type="text/javascript" src="{{url_for('static', filename='js/xlsx.full.min.js')}}"></script>
    <script type="text/javascript" src="{{url_for('static', filename='js/FileSaver.js')}}"></script>
    <!-- google map api -->
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD1gxbKg2bwRVCo_7Z-SLnmea8CGcoQCKk&callback=initMap&libraries=&v=weekly" async></script>

</html>